.container{ position: relative; z-index: 999;}
.image:not(:last-child) {margin-bottom: 10px;}
.close{position:fixed; margin-left: -1px; top: 29px;}

@media (min-width: 1023px){
    .close{top: 39px;}
}

